@use 'variables' as v;

/* MIXINS PARA MEDIA QUERIES */
@mixin telefono{
    @media (min-width: v.$telefono) {
        @content;
        
    }
 }


 @mixin tablet{
    @media (min-width: v.$tablet) {
        @content;
        
    }

 }


 @mixin desktop{
    @media (min-width: v.$desktop) {
        @content;
        
    }

 }


 /* GRID */
 @mixin grid ($columnas, $gap) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    column-gap: $gap;
 }
