@use 'base/variables' as v;
@use 'base/mixins' as m;

/* CONTENIDO MAIN */

.contenido-main{
    background-color: v.$blanco;
    padding: 5rem 2rem;

    @include m.tablet{
        padding: 10rem;
        margin-top: -5rem;
        position: relative;

    }
}